# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
# Builds / Bundles
build/
dist/
*.tsbuildinfo

# Env & secrets


# Logs
logs/
*.log
*.log.*

# Cache
.vite/
.cache/
.next/
.tmp/
.eslintcache

# Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Coverage
coverage/

# Misc
*.local
*.swp
